
body {
    background-color: #96B6C5;
  }

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header h1 span{
    color: blue;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
th {
    background-color: #f2f2f2;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}